.log {
	display: block;
	padding: 5px;
}

#log {
	border: 1px solid #ccc;
	width: 50%;
	height: 100%;
	overflow-y: scroll;
}

/*.user {
	display: block;
}*/

#userdata {
	border: 1px solid #ccc;
	width: 50%;
	position: relative;
}

#container {
	display: flex;
	height: calc(100vh - 50px);
}

.offline {
	color: grey;	
}

#adduser {
	position: absolute;
	left: 0;
	bottom: 0;
}

.delete {
	color: red;
	transition: 0.3s;

	position: absolute;
	top: 0;
	right: 0;
}

.odd {
	background-color: #f7f7f7;
}

#users div {
	padding: 5px;
	position: relative;
}