{{ define "login" }}

<!DOCTYPE html>
<html>
<head>
	<title>MESA Login</title>
	<link rel="stylesheet" type="text/css" href="index.css">
	<link rel="stylesheet" type="text/css" href="login.css">
	<favicon src="https://cwp.io/meteor-logo.png">
</head>
<body>
	<div class="tab">
		<button class="tablinks" onclick="changeTab(event, 'login')">Login</button>
		<button class="tablinks" onclick="changeTab(event, 'create')">Create</button>
	</div>

	<form id="login" class="tabcontent" action="/login">
		<input type="hidden" name="login" value="login">
		<span>Email</span>
		<input type="text" name="e" placeholder="Email Address" text="{{ .Email }}" />
		<span>Password</span>
		<input type="Password" name="p" />
		<input type="submit" text="Login" />
		{{ range .Alerts }}
			<div class="alert {{ .Level }}">
				<span class="alertmsg">{{ .Msg }}</span>
			</div>
		{{ end }}
	</form>
	<form id="create" class="tabcontent" action="/login">
		<input type="hidden" name="create" value="create">
		<span>Email</span>
		<input type="text" name="e" placeholder="Email Address" text="{{ .Email }}" />
		<span>Password</span>
		<input type="password" name="p" />
		<span>Confirm Password</span>
		<input type="password" name="q" />
		<input type="submit" text="Login" />
		{{ range .Alerts }}
			<div class="alert {{ .Level }}">
				<span class="alertmsg">{{ .Msg }}</span>
			</div>
		{{ end }}
	</form>

	<script src="/login.js"></script>
</body>
</html>

{{ end }}