{{ define "login" }}

<!DOCTYPE html>
<html>
<head>
	<title>MESA Login</title>
	<link rel="stylesheet" type="text/css" href="index.css">
	<link rel="stylesheet" type="text/css" href="login.css">
	<link rel="icon" href="https://cwp.io/meteor-icon.png">
</head>
<body>
	<script src="/login.js"></script>

	<div class="tab">
		<button class="tablinks" onclick="changeTab(0)">Login</button>
		<button class="tablinks" onclick="changeTab(1)">Create</button>
	</div>

	<form class="tabcontent" action="/login/" method="POST">
		<input id="type" type="hidden" name="type" value="login">
		
		<div id="email">
			<span>Email</span>
			<input type="text" name="e" placeholder="Email Address" value="{{ .Email }}">
		</div>

		<div id="password">
			<span>Password</span>
			<input type="password" name="p">
		</div>

		<div id="confirm" display="none">
			<span>Confirm Password</span>
			<input type="password" name="q">
		</div>

		<input id="submit" type="submit" text="Login">
	</form>

	<div id="alerts">
		{{ range .Alerts }}
			<div class="alert {{ .Level }}">
				<span class="alertmsg">{{ .Msg }}</span>
			</div>
		{{ end }}
	</div>

	<script>
		changeTab({{ .Tab }});
	</script>
</body>
</html>

{{ end }}